body{
    background-color: 	LemonChiffon;
}
header{
    padding-bottom: 1%;
    border-bottom:solid gray;
}

div.content{
    padding-top: 1%;
}
div.menu{
    border: solid gray;
    background-color: #669933;
}
ul.header-ul {
  display: flex;
  /*justify-content: space-between;*/
}
li.header-li {
  list-style-type: none;
  background-color: #669933;
  color: #000;
  flex-grow: 1;
  text-align: center;
}
li + li {
  border-left: 1px solid #000;
}
li.header-li a{
    color: white;
    font-size: 20px;
}


table.item-list {
  border: 1px solid #ddd;
  width: 100%;
  text-align: left;
}
td.item-list,th.item-list {
  padding: 15px 15px;
}
thead.item-list tr {
  background-color: #91C16D;
}
thead.item-list tr th {
  color: #fff;
  text-align: center;
}
tbody.item-list tr{
    background-color: lightgray;
}

tbody.item-list tr:nth-of-type(2n) {
  background: #f5f5f5;
}


a{
    text-decoration: none;
}


div.content-box{
    position: relative;
    border: solid lightgray;
    width: 40%;
    margin:auto;
    top: 100px;
    height: 300px;
    background-color: lightgray;
}

div.content-header{
    text-align: center;
    background-color: #0099CC;
    font-size: 2em;
    height: 20%;
    color: white;
}

div.content-body{
    padding-top: 3%;
}
div.content-body div{
    text-align: center;
    margin: 1%;
}

input.content{
    width:60%;
    height: 40px;
    font-size: 1em;
}

.submit-btn{
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    margin-top: 3%;
    background-color: white;
}

.danger{
    color:tomato;
    border-color: tomato;
}

.submit-btn:hover {
    background: #67c5ff;
    color: white;
}


.danger:hover{
    background-color: tomato;
}

a.to-signup,a.to-login{
    position: absolute;
    right: 1%;
}

table.profile,table.item-info{
    margin: auto;
}
div.content-footer{
    text-align: center;
}

div.item-info{
    width: 650px;
    border: solid lightgray;
    background-color: white;
}

div.item-info-header{
    background-color: #0099CC;
    text-align: center;
    color:white;
    height: 40px;
    font-size: 1.5em;
}

div.item-info-footer{
    text-align: center;
}


table.item-info {
    margin-top: 1%;
    width: 100%;
	border-collapse: collapse;
    border-bottom: solid lightgray;
}
th.t_top {
    border-top: #b3b3b3 4px solid;
}
th.item-info {
	border-bottom: #e3e3e3 1px solid;
	border-left: #e3e3e3 1px solid;
	text-align: left;
	background: #f7f7f7;
	padding: 10px;
	font-weight: normal;
}
td.t_top {
	border-top: tomato 4px solid;
}
td.item-info {
	border-bottom: #e3e3e3 1px solid;
	border-right: #e3e3e3 1px solid;
	text-align: left;
	padding: 10px;
}

.parent::after{
  content: "";
  display: block;
  clear: both;
}

.left{
  float:left;
}

.right{
  float:right;
}

img.img-graph{
    height: 410px;
    width: 650px;
    border: solid lightgray;
}
