body{
    background-color: 	LemonChiffon;
}
header{
    padding-bottom: 1%;
    border-bottom:solid gray;
}

div.content{
    padding-top: 1%;
}
div.menu{
    border: solid gray;
    background-color: #669933;
}
ul.header-ul {
  display: flex;
  /*justify-content: space-between;*/
}
li.header-li {
  list-style-type: none;
  background-color: #669933;
  color: #000;
  flex-grow: 1;
  text-align: center;
}
li + li {
  border-left: 1px solid #000;
}
li.header-li a{
    color: white;
    font-size: 20px;
}


table.item-list {
  border: 1px solid #ddd;
  width: 100%;
  text-align: left;
}
td.item-list,th.item-list {
  padding: 15px 15px;
}
thead.item-list tr {
  background-color: #91C16D;
}
thead.item-list tr th {
  color: #fff;
  text-align: center;
}
tbody.item-list tr{
    background-color: lightgray;
}

tbody.item-list tr:nth-of-type(2n) {
  background: #f5f5f5;
}


a{
    text-decoration: none;
}


div.content-box{
    position: relative;
    border: solid lightgray;
    width: 40%;
    margin:auto;
    top: 100px;
    height: 300px;
    background-color: lightgray;
}

div.content-header{
    text-align: center;
    background-color: #0099CC;
    font-size: 2em;
    height: 20%;
    color: white;
}

div.content-body{
    padding-top: 3%;
}
div.content-body div{
    text-align: center;
    margin: 1%;
}

input.content{
    width:60%;
    height: 40px;
    font-size: 1em;
}

.submit-btn{
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    margin-top: 3%;
}

.submit-btn:hover {
    background: #67c5ff;
    color: white;
}

a.to-signup,a.to-login{
    position: absolute;
    right: 1%;
}
