<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>price tracker</title>
        <link rel="stylesheet" href="/static/app.css">
    </head>
    <body>
        <a href="{{ url_for('user.signup')}}" class="to-signup">Sign up</a>
        <div class="content-box">
            <div class="content-header">
                Log in
            </div>
            <div class="content-body">
                <form action="{{ url_for('user.login') }}" method=post>
                    <div>
                        <input type=text name=email placeholder="Email" class="content">
                    </div>

                    <div>
                        <input type=password name=password placeholder="Password" class="content">
                    </div>
                    <div>
                        <input type=submit value=Login class="submit-btn content">
                    </div>
                </form>
            </div>
        </div>

    </body>
</html>
