{% extends "layout.html" %}
{% block content %}

<table class="item-list">
    <thead class="item-list">
        <tr class="item-list">
            <th class="item-list">商品名</th>
            <th class="item-list">最新の価格</th>
            <th class="item-list">最低価格</th>
            <th class="item-list">最終更新日時</th>
            <th class="item-list">商品掲載ページへ</th>
        </tr>
    </thead>
    <tbody class="item-list">
        {% for item in items %}
            <tr>
                <td class="item-list"><a href="{{url_for("item.show",item_id=item.id)}}">{{ item.item_name }}</a></td>
                <td class="item-list">{{ item.latest_price }}円</td>
                <td class="item-list">{{ item.lowest_price }}円</td>
                <td class="item-list">{{item.updated_at.strftime("%m/%d %H:%M")}}</td>
                <td class="item-list"><a href="{{item.url}}">リンク</a></td>
            </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}
