<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>price tracker</title>
        <link rel="stylesheet" href="/static/app.css">
    </head>
    <body>
        <a href="{{ url_for('user.login')}}" class="to-login">Log in</a>
        <div class="content-box">
            <div class="content-header">
                Sign up
            </div>
            <div class="content-body">
                <form class="" action="{{ url_for('user.signup') }}" method="post">
                    <div>
                        <input type="text" size="30" name="username" placeholder="Name" class="content">
                    </div>
                    <div>
                        <input type="text" size="30" name="email" placeholder="Email" class="content">

                    </div>
                    <div>
                        <input type="password" size="30" name="password" placeholder="Password" class="content">
                    </div>
                    <div>
                        <input type="submit" class="submit-btn content">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
